@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{ 
    background-color: #FFD950;
}

@media (min-width: 1280px) {
    h1 {
        font-size: 84px;
    }

    p {
        font-size: 20px;
        line-height: 34px;
    }

    .navbar {
        width: 50%;
        font-size: 24px;
    }

}

@media (max-width: 1280px) {
    h1 {
        font-size: 72px;
    }

    p {
        font-size: 20px;
        line-height: 34px;
    }

    .navbar {
        width: 70%;
        font-size: 22px;
    }
}

@media (max-width: 768) { 
    h1 {
        font-size: 64px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .navbar {
        width: 70%;
        font-size: 20px;
    }
}

@media (max-width: 375) { 
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
        line-height: 34px;
    }

    .navbar {
        width: 75%;
        font-size: 20px;
    }
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2ch;
    text-align: center;
    padding: 0.5ch;
    border-radius: 100px;
    font-family: Manrope;
    display: flex;
	flex-direction: row;
    background-color: black;
    color: white;
}

li {
    padding: 5px;
    width: 25%;
}

li:hover {
    color: #FFD950;

}

h1 { 
    font-family: Gloock;
    text-align: left; 
    font-weight: 400;
    margin-top: 5%;
    margin-left: 10%;
    width: 60%;
    padding: none;
}

p { 
    font-family: manrope;
    text-align: left; 
    font-weight: 400;
    margin-left: 10%;
    margin-top: 3%;
    width: 50%;
    padding: 0%;
    /* Check the margin on the left, reduce it to make it better */
 }

footer { 
    text-align: left;
    font-family: manrope;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: 700;
}
.footer-text {
    display: flex;
    justify-content: space-between;
}