@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root {
    --typography-base: 16px;

    --pink: #EC76BD;
    --yellow: #FFD950;
    --orange: #EB4D26;
    --blue:#7DC5FA;
    --beige: #FDE5C1;
    --green:#76F071;
    --purple: #D191F8;
    --cyan: #4FF0F0;
}

@media (min-width: 1280px) {
    h1 {
        font-size: calc(8 * var(--typography-base));
    }

    p {
        font-size: calc(1.8 * var(--typography-base));
    }

    .navbar {
        width: 50%;
        font-size: calc(1.5 * var(--typography-base));
    }

    .footer-text { 
        font-size: calc(1.2 * var(--typography-base));
    }

}

@media (max-width: 1280px) {
    h1 {
        font-size: calc(6 * var(--typography-base));
    }

    p {
        font-size: calc(1.5 * var(--typography-base));
    }
    
    .navbar {
        width: 70%;
        font-size: calc(1.4 * var(--typography-base));
    }

    .footer-text { 
        font-size: calc(1.2 * var(--typography-base));
    }
}

@media (max-width: 768px) { 
    h1 {
        font-size: calc(5.2 * var(--typography-base));
    }

    p {
        font-size: 20px;
    }

    .navbar {
        width: 70%;
        font-size: calc(1.2 * var(--typography-base));
    }

    .footer-text { 
        font-size: calc(1.2 * var(--typography-base));
    }
}

@media (max-width: 375px) { 
    h1 {
        font-size: calc(2 * var(--typography-base));
        width: 70%;
    }

    p {
        font-size: var(--typography-base);
    }

    .navbar {
        width: 75%;
        font-size: calc(1.2 * var(--typography-base));
    }

    .footer-text { 
        font-size: font-size: calc(1.2 * var(--typography-base));
    }
}

.bg-pink {
    background: hotpink;
}

.bg-pink li {
    color: red;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2ch;
    text-align: center;
    padding: 0.5ch;
    border-radius: 100px;
    font-family: Manrope;
    display: flex;
	flex-direction: row;
    background-color: black;
    color: white;
}

li {
    padding: 7px;
    width: 25%;
}

li:hover {
    color: var(--orange);

}

h1 { 
    font-family: Gloock;
    text-align: center; 
    font-weight: 400;
    width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

p { 
    font-family: manrope;
    text-align: center; 
    font-weight: 400;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
 }

 footer { 
    text-align: left;
    font-family: manrope;
    margin-top: 7%;
    margin-bottom: 3%;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: 700;
}
.footer-text {
    display: flex;
    justify-content: space-evenly;
    color: var(--orange);
    padding-right: 2rem;
    padding-left: 2rem;
}