@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root {
    --typography-base: 16px;
    
    --pink: #EC76BD;
    --yellow: #FFD950;
    --orange: #EB4D26;
    --blue:#7DC5FA;
    --beige: #FDE5C1;
    --green:#76F071;
    --purple: #D191F8;
    --cyan: #4FF0F0;
}

.bg-pink { 
    background-color: var(--pink);
}

.pink:hover {
    color: var(--pink);
}

.bg-yellow { 
    background-color: var(--yellow);
}

.yellow:hover {
    color: var(--yellow);
}

.bg-orange { 
    background-color: var(--orange);
}

.orange:hover {
    color: var(--orange);
}

.bg-blue { 
    background-color: var(--blue);
}

.blue:hover {
color: var(--blue);
}

.bg-beige { 
    background-color: var(--beige);
}

.beige:hover {
    color: var(--beige);
}

.bg-green { 
    background-color: var(--green);
}

.green:hover {
    color: var(--green);
}

.bg-purple { 
    background-color: var(--purple);
}

.purple:hover {
    color: var(--purple);
}

.bg-cyan { 
    background-color: var(--cyan);
}

.cyan:hover {
    color: var(--cyan);
}

@media (min-width: 1280px) {
    h1 {
        font-size: 84px;
    }

    p {
        width: 50%;
        font-size: 20px;
        line-height: 34px;
    }

    .navbar {
        width: 50%;
        font-size: 24px;
    }

}

@media (max-width: 1280px) {
    h1 {
        font-size: 72px;
    }

    p {
        width: 50%;
        font-size: 20px;
        line-height: 34px;
    }

    .navbar {
        width: 70%;
        font-size: 22px;
    }
}

@media (max-width: 768) { 
    h1 {
        font-size: 64px;
    }

    p {
        width: 50%;
        font-size: 18px;
        line-height: 28px;
    }

    .navbar {
        width: 70%;
        font-size: 20px;
    }
}

@media (max-width: 375) { 
    h1 {
        font-size: 30px;
    }

    p {
        width: 100%;
        font-size: 16px;
        line-height: 28px;
    }

    .navbar {
        width: 75%;
        font-size: 16px;
    }
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2ch;
    text-align: center;
    padding: 0.5ch;
    border-radius: 100px;
    font-family: Manrope;
    display: flex;
	flex-direction: row;
    background-color: black;
    color: white;
}

li {
    padding: 5px;
    width: 25%;
}


h1 { 
    font-family: Gloock;
    text-align: left; 
    font-weight: 400;
    margin-top: 5%;
    margin-left: 10%;
    width: 60%;
    padding: none;
}

p { 
    font-family: manrope;
    text-align: left; 
    font-weight: 400;
    margin-left: 10%;
    margin-top: 3%;
    padding: 0%;
    /* Check the margin on the left, reduce it to make it better */
 }

footer { 
    text-align: left;
    font-family: manrope;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: 700;
}
.footer-text {
    display: flex;
    justify-content: space-between;
}