@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

.navbar {
    font-family: Manrope;
    display: flex;
	flex-direction: row;
    background-color: black;
    color: white;
    font-size: 24px;
}

.navbar:hover {
background-color: hotpink;
text-align: center;
}

h1 { 
    font-family: Gloock;
    text-align: center; 
    font-weight: 400;
    font-size: 128px;
    margin-bottom: 70px;
    padding: 2rem;
    margin-top: 20px;
}

p { 
    font-family: manrope;
    text-align: right; 
    font-weight: 400;
    font-size: 30px;
    padding: 2rem;
    margin: 10px;
 }