@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{ 
    background-color: pink;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2ch;
    text-align: center;
    width: 50%;
    padding: 7px;
    border-radius: 100px;
    font-family: Manrope;
    display: flex;
	flex-direction: row;
    background-color: black;
    color: white;
    font-size: 24px;
}

li {
    padding: 7px;
    width: 25%;
}

.navbar:hover {
background-color: hotpink;
}

h1 { 
    font-family: Gloock;
    text-align: left; 
    font-weight: 400;
    font-size: 84px;
    padding: 2rem;
    margin-right: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

p { 
    font-family: manrope;
    text-align: left; 
    font-weight: 400;
    font-size: large;
    padding: 2rem;
    line-height: 2rem;
    margin: 30px 400px 0px 50px;
 }